.product-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image-container > a > img {
  width: 100%;
  padding: 2rem;
  transition: all 0.4s linear;
}
.image-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.image-container:hover > a > img {
  transform: scale(1.2);
}
.cart-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: #dbf3f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: white !important;
  font-size: 1.4rem;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%, 100%);
  transition: all 0.4s ease-in-out;
}
.image-container:hover .cart-btn {
  transform: translate(0, 0);
}
.cart-btn:hover {
  color: dark;
  cursor: pointer;
}
.card-footer {
  background-color: #fff !important;
}
