.product-card{
        box-shadow: 8px 8px 15px #838383,
        -8px -8px 15px #838383;
        border-radius: 10px;
        width: 400px;
        background: #ecedef;
        padding: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-transform: uppercase;
      }
      .product-card h1{
        font-size: 22px;
        margin-bottom: 4px;
      }
      .product-card p{
        font-size: 13px;
        color: #bbb;
      }
      .product-pic{
        /* background-image: url(1.png); */
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;
        transition: .6s linear;
      }
      .product-colors{
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
      }
      
      .product-colors span{
        width: 14px;
        height: 14px;
        margin: 0 10px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
      }
      .product-info{
        display: flex;
        align-items: center;
      }
      .product-price{
        color: #7ed6df;
        font-size: 26px;
      }
      .product-button{
        margin-left: auto;
        color: #7ed6df;
        text-decoration: none;
        border: 2px solid;
        padding: 8px 24px;
        border-radius: 20px;
        transition: .4s linear;
      }
      
      .product-button:hover{
        transform: scale(1.06);
      }
      
      /* ---------- Responsive ---------- */
      
      /* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation:landscape) {
      
          .product-card {
            height: auto;
            width: 80%;
            display: block;
            margin-bottom: 12px;
          }
          .product-card h1{
            font-size: 15px;
            margin-bottom: 2px;
          }
          .product-card p{
            font-size: 15px;
          }
          .product-pic{
            height: 130px;
          }
          .product-info{
            padding: 10%;
          }
          .product-price{
            font-size: 20px;
          }
          .product-button{
            font-size: 10px;
          }
        
      } */

      /* @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

        .product-card {
                height: auto;
                width: 40%;
                display: block;
                margin-bottom: 10px;
              }
              .product-card h1{
                font-size: 15px;
                margin-bottom: 1px;
              }
              .product-card p{
                font-size: 10px;
              }
              .product-pic{
                height: 100px;
              }
              .product-info{
                padding: 10%;
              }
              .product-price{
                font-size: 10px;
              }
              .product-button{
                font-size: 10px;
              }
      } */
      
      /* -------------------------------- */