
      .login-div {
        min-width:auto;
        min-height: auto;
        padding: 15px 12px 12px 12px;
        border-radius: 10px;
        background: #ecf0f3;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
      }
     
      .title {
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        padding-top: 8px;
        letter-spacing: 0.5px;
      }
      .fields {
        width: auto;
        padding: 20px 20px 20px 20px;
      }
      .fields input {
        border: none;
        outline:none;
        background: none;
        font-size: 15px;
        color: #555;
        padding:18px 18px 18px 18px;
      }
      .username, .password {
        margin-bottom: 25px;
        border-radius: 30px;
        box-shadow: inset 8px 8px 8px #cbced1,
                    inset -8px -8px 8px #ffffff;
      }
      .fields svg {
        height: 20px;
        margin: 0px 0px 4px 20px;
      }
      .signin-button {
        outline: none;
        border:none;
        cursor: pointer;
        width:35%;
        height: auto;
        padding:6px 6px 6px 6px;
        border-radius: 100px;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        color:#fff;
        text-align: center;
        background: #ee0979;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        box-shadow: 3px 3px 8px #b1b1b1,
                    -3px -3px 8px #ffffff;
        transition: 0.5s;
        display: block; 
        margin: 0 auto;
        
      }
      .signin-button:hover {
        background: #FF512F;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        

      }
      .signin-button:active {
        background: #FF512F;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
      .link {
        padding-top: 20px;
        text-align: center;
      }
      .link a {
        text-decoration: none;
        color:#aaa;
        font-size: 15px;
      }

      @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        .login-div {
          min-width:80%;
        }
        
        .title {
                font-size: 25px;
              }
        .fields {
                padding: 12px 12px 12px 12px;
              }
        .fields input {
                font-size: 14px;
                padding:12px 12px 12px 12px;
              }
        .username, .password {
                margin-bottom: 20px;
              }
        
        .signin-button {
                padding:6px 6px 6px 6px;
                width: 35%;
                font-size: 15px;
                font-weight: 600;
              }
      }

      @media only screen and (min-device-width : 480px) and (max-device-width : 1024px) {
        .title {
                font-size: 15px;
                padding-top: 1px;
                padding-bottom: 2px;;
                letter-spacing: 0.5px;
              }
        .fields {
                font-size: 12px;
                padding:5px 5px 5px 5px;
              }
        .fields input {
                font-size: 10px;
                padding:5px 5px 5px 5px;
              }
       
        .username, .password {
                margin-bottom: 15px;
              }
        .fields svg {
                height: 12px;
                margin: 0px 0px 2px 15px;
        }
        .signin-button {
                padding:1px 1px 1px 1px;
                width: 40%;
                font-size: 13px;
                font-weight: 600;
              }
        }